@font-face {
    font-family: 'run';
    src: url('../font/run.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    background-color: #e4f4e5;
    font-family: 'run', sans-serif;
    color: #2E475D;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    margin-right: 22%;
}

.about {
    margin-top: 10%;
    margin-left: 22%;
    text-align: left;
    font-size: larger;
}

#aboutSectionContent {
    font-family: Poppins, sans-serif;
}




