body{
    background-color: #e4f4e5;
    overflow-x: hidden;
}

#buttons {
    bottom: 20%;
    display: flex;
    flex-direction: column; /* Ændring: Ændrer layoutet til kolonne for at placere knapperne oven på hinanden */
    align-items: center;
    justify-content: center; /* Ændring: Centrerer elementer både vandret og lodret */
}

#buttons button {
    width: 200px;
    margin-bottom: 10px; /* Ændring: Tilføjer lidt plads mellem knapperne */
    padding: 20px 30px; /* Ændring: Giver knapperne lidt polstring for at gøre dem pænere */
    font-size: 16px; /* Ændring: Justerer skriftstørrelsen efter behov */
    background-color: #e4f4e5;
    border-color: #5b1010;
    border-radius: 15px;
    box-shadow: #5b1010;
}

#buttons button:hover {
    background-color: #5b1010;
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
}