@font-face {
    font-family: 'run';
    src: url("/font/run.ttf") format('truetype');
}

* {
    font-family: 'run', sans-serif;
}

/* hello */

body {
    background-color: #E4F4E5 !important;
    overflow-x: hidden;
}

#file-type option {
    font-family: 'run', sans-serif;
    background-color: #e4f4e5;
    padding-top: 5%;
    padding-bottom: 5%;
}


#file-type{

    border-color: #5B1010;

    background-color: #e4f4e5;
    font-family: 'run', sans-serif;
    scale: 200%;
    background: url('/images/UI Icons/Dropdown_triangle.png');
    background-size: 98% 105%;

    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: .8%;

    appearance: none;

    width: 6%;


    margin-left: 75.1%;
    margin-bottom: 1%;
}


#file-type:hover{
    background: url('/images/UI Icons/Dropdown_selected.png');
    /*border-color: blue;*/
}


#media-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}


.gallery {
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: 1px solid #ccc;
    float: left;
    width: auto;
    background-color: #5B1010;
}

.gallery:hover {
    border: 1px solid #777;
    animation: fadein 0.5s forwards;
}

.gallery:not:hover {
    animation: fadout 0.5s forwards;
}

@keyframes fadein {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2);
    }
}


@keyframes fadeout {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

video {
    outline: 0px;
}

.gallery audio {
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 25%;
    z-index: 2;
}

.gallery video {
    width: 600px;
    height: 337.5px;
    object-fit: cover;
}

.desc {
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 550px;
    height: 10vh;
    overflow-wrap: break-word;
    font-family: 'run', sans-serif;
}