@font-face {
    font-family: 'Akkurat-Bold';
    src: url("/font/Akkurat-Bold.ttf") format('truetype');
}

* {
    font-family: 'Akkurat-Bold', sans-serif;
}

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

#media-container:hover {
    border: 1px solid #777;
}

#media-container img {
    width: 100%;
    height: auto;
}

h3 {
    padding: 15px;
    text-align: center;
}

div.descryption