body {
    margin: 0;
    padding: 0;
    background-color: #e4f4e5;
}

p{
    font-family: Arial, sans-serif;
}

.video-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.description {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    margin-left: 15%;
    margin-top: 16%;
    font-size: 40px;

    color: white;
    -webkit-text-stroke: thin black;
}