body {
    background-color: white;
    color: black;
    font-family: Akkurat, sans-serif;
    background-color:#e4f4e5;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

h1, h2 {
    color: black;
}

ul {
    list-style: none;
}

li {
    display: flex; /* Tilføj denne linje */
    margin-right: 20px; /* Afstand mellem listeelementer */
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
}

.logo1{
    background-image: url("/images/mulpenlogo3.png");
    z-index: 100;
    background-repeat:no-repeat;
    background-position:left;
    background-size: contain;
    height: 50px;
    margin-left: 20px;
}

img {
    max-width: 10%; /* Gør billedet responsivt, så det ikke overstiger bredden af headeren */
    height: auto; /* Bevar billedets proportioner */
    display: flex;
    flex-direction: column;
}

.members {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.members li {
    text-align: center;
    display: flex;
    margin: 10px; /* Juster margener efter behov */
    width: 200px; /* Sæt en fast bredde for hver medlemsboks */
}

.members img {
    max-width: 35%;
    height: 80%;
    margin-bottom: 5px;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.map {
    filter: grayscale(100%);
}