body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

h1, h2 {
    color: black;
}

ul {
    list-style: none;
    display: flex; /* Vis listeelementer som en række */
    flex-wrap: wrap; /* Hvis der ikke er nok plads, skal elementerne flytte sig ned til næste række */
}

li {
    margin-right: 20px; /* Afstand mellem listeelementer */
    margin-bottom: 10px;
}

footer {
    margin-top: 50px;
}

img {
    max-width: 10%; /* Gør billedet responsivt, så det ikke overstiger bredden af headeren */
    height: auto; /* Bevar billedets proportioner */
    display: flex;
    flex-direction: column;
}

logo1{
    margin-left: 80%;
    margin-bottom: 20%;
}