@font-face {
    font-family: 'run';
    src: url("/font/run.ttf") format('truetype');
}
* {
    font-family: 'run', sans-serif;

}

li, a {
    font-family: 'run', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}



header{
    display: flex;
    width: 112%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 10px 0;
    z-index: 2;
    white-space: nowrap;
    max-width: 100%
}

.nav {
    position: absolute;
}

.nav_links{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0px 50px;
    cursor: pointer;

}

.nav_links li a:hover {
    color: #5b1010;
    transition: all 0.3s ease 0s;

}

.logo{
    width: 10%;
    height: 10%;
    padding-left: 5px;
    margin-left: 155px;
}
